{% extends 'shop/base.html' %}

{% block content %}

<h1>Корзина</h1>
<h4>Количество товаров: {{basket.count}}шт.</h4>

{% for product in basket %}
<div class="main">
    <span style="float: left;">{{product.product.title}}</span>
    <span style="float: right;">{{product.product.price}}</span>
    </div>
{% endfor %}
{% if basket.count > 0 %}
<form class="card p-2" action="{% url 'create_order' %}">
    <button type="submit" class="btn btn-secondary">Заказать</button>
</form>
{% endif %}


{% endblock %}